<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
	
	<style>
		body {
			font-family: Tahoma, Geneva, sans-serif;
			margin: 0;
			
			padding: 10px;
			padding-top: 0;
			border: 0;
			font-size: 100%;
			vertical-align: baseline;
		}
		header {
			width: 100%;
			height: 150px;
			background-color: #3250bd;
			text-align: center;
		}
		header h1 {
			font-size: xx-large;
			color: #efe3e;
		}
		header img {
			width: 400px;
		}
		
		nav {
			width: 100%;
			background-color: red;
		}
		
		nav a {
			display: inline-block;
			padding: 10px;
			margin-left: 7px;
			text-decoration: none;
			color: white;
		}
		
		.login-form {
			width: 300px;
			margin: 0 auto;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"],
		.login-form input[type="button"] {
			width: 100%;
			padding: 15px;
			background-color: #ec1f27;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		
		.error-message p {
			padding: 20px;
		}
		
		
		
		footer {
			width: 100%;
			position: fixed;
			bottom: 0;
			text-align: center;
		}
		
		footer p {
			font-family: Tahoma, Geneva, sans-serif;
			font-size: small;
		}
		</style>
</head>
<body>
	<header>
		<h1>Auckland Property Management</h1>
		<a href="/"><img src="houses-logo.png" alt="APM Logo"/></a>
	</header>
	<nav>
		<div id="navContent">
			<a href="/register">Register</a>
			<a href="/login">Log in</a>
		</div>
	</nav>

    {{{body}}}

	<footer>
		<p>Copyright &copy; Auckland Property Management 2019</p>
	</footer>
</body>
<script src="./assets/index.js"></script>
</html>